div#chats {
    display: flex;
    flex-direction: row;
}

div#videos {
    flex-direction: column;
}

div#videos>video {
    background-color: black;
    width: 640px;
    display: block;
    margin: 1rem;
}

@media(prefers-color-scheme:light){
    html{
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: dark){
    html{
        background: black;
        color: #ddd;
    }
}